.composition {
  background: #f0f5f7;

  @media screen and (min-width: 1441px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  @media screen and (max-width: 1440px) and (min-width: 1301px) {
    padding-top: 47px;
    padding-bottom: 47px;
  }

  @media screen and (max-width: 1400px) and (min-width: 1301px) {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  @media screen and (max-width: 1300px) and (min-width: 1201px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @media screen and (max-width: 1200px) and (min-width: 1101px) {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  @media screen and (max-width: 1100px) and (min-width: 1025px) {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  @media screen and (max-width: 1024px) and (min-width: 901px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  @media screen and (max-width: 900px) and (min-width: 801px) {
    padding-top: 41px;
    padding-bottom: 41px;
  }

  @media screen and (max-width: 800px) and (min-width: 701px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (max-width: 700px) {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  @media screen and (max-width: 600px) and (min-width: 551px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  @media screen and (max-width: 550px) and (min-width: 481px) {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  @media screen and (max-width: 480px) and (min-width: 411px) {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media screen and (max-width: 410px) and (min-width: 356px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  @media screen and (max-width: 355px) {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  &__inner {
    position: relative;

    display: flex;

    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (min-width: 1441px) {
      gap: 56px;

      margin-top: 48px;
    }

    @media screen and (max-width: 1440px) and (min-width: 1301px) {
      gap: 54px;

      margin-top: 47px;
    }

    @media screen and (max-width: 1400px) and (min-width: 1301px) {
      gap: 52px;

      margin-top: 46px;
    }

    @media screen and (max-width: 1300px) and (min-width: 1201px) {
      gap: 50px;

      margin-top: 45px;
    }

    @media screen and (max-width: 1200px) and (min-width: 1101px) {
      gap: 48px;

      margin-top: 44px;
    }

    @media screen and (max-width: 1100px) and (min-width: 1025px) {
      gap: 46px;

      margin-top: 43px;
    }

    @media screen and (max-width: 1024px) and (min-width: 901px) {
      gap: 44px;

      margin-top: 42px;
    }

    @media screen and (max-width: 900px) and (min-width: 801px) {
      gap: 42px;

      margin-top: 41px;
    }

    @media screen and (max-width: 800px) and (min-width: 701px) {
      gap: 40px;

      margin-top: 40px;
    }

    @media screen and (max-width: 700px) and (min-width: 601px) {
      gap: 38px;

      margin-top: 39px;
    }

    @media screen and (max-width: 600px) and (min-width: 551px) {
      gap: 36px;

      margin-top: 38px;
    }

    @media screen and (max-width: 550px) and (min-width: 481px) {
      gap: 34px;

      margin-top: 37px;
    }

    @media screen and (max-width: 480px) and (min-width: 411px) {
      gap: 32px;

      margin-top: 36px;
    }

    @media screen and (max-width: 410px) and (min-width: 356px) {
      gap: 30px;

      margin-top: 35px;
    }

    @media screen and (max-width: 355px) {
      gap: 28px;

      margin-top: 34px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-of-type(odd) {
      padding-right: 33%;
    }

    &:nth-of-type(even) {
      padding-left: 33%;
    }


    &_img {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100px;
      height: 100px;

      border-radius: 50%;

      border-width: 2px;
      border-style: solid;
      border-color: #5d8eaa;

      box-shadow: 0 0 8px #5d8eaa;

      overflow: hidden;

      >img {
        width: 100%;
      }

      @media screen and (min-width: 1441px) {
        width: 100px;
        height: 100px;
      }

      @media screen and (max-width: 1440px) and (min-width: 1301px) {
        width: 96px;
        height: 96px;
      }

      @media screen and (max-width: 1400px) and (min-width: 1301px) {
        width: 92px;
        height: 92px;
      }

      @media screen and (max-width: 1300px) and (min-width: 1201px) {
        width: 88px;
        height: 88px;
      }

      @media screen and (max-width: 1200px) and (min-width: 1101px) {
        width: 84px;
        height: 84px;
      }

      @media screen and (max-width: 1100px) and (min-width: 1025px) {
        width: 80px;
        height: 80px;
      }

      @media screen and (max-width: 1024px) and (min-width: 901px) {
        width: 76px;
        height: 76px;
      }

      @media screen and (max-width: 900px) and (min-width: 801px) {
        width: 72px;
        height: 72px;
      }

      @media screen and (max-width: 800px) and (min-width: 701px) {
        width: 68px;
        height: 68px;
      }

      @media screen and (max-width: 700px) {
        width: 64px;
        height: 64px;
      }

      @media screen and (max-width: 600px) and (min-width: 551px) {
        width: 60px;
        height: 60px;
      }

      @media screen and (max-width: 550px) and (min-width: 481px) {
        width: 56px;
        height: 56px;
      }

      @media screen and (max-width: 480px) and (min-width: 411px) {
        width: 52px;
        height: 52px;
      }

      @media screen and (max-width: 410px) and (min-width: 356px) {
        width: 48px;
        height: 48px;
      }

      @media screen and (max-width: 355px) {
        width: 44px;
        height: 44px;
      }
    }

    p {
      margin-top: 12px;

      font-family: Arial, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      color: #000;

      @media screen and (max-width: 600px) {
        font-size: 17px;
      }

      @media screen and (max-width: 550px) {
        margin-top: 10px;

        font-size: 16px;
      }

      @media screen and (max-width: 480px) {
        margin-top: 8px;

        font-size: 14px;
      }

      @media screen and (max-width: 410px) {
        margin-top: 6px;

        font-size: 13px;
      }

      @media screen and (max-width: 355px) {
        margin-top: 4px;

        font-size: 12px;
      }
    }
  }

  &__prod {
    position: absolute;

    min-width: 90px;

    top: 50%;
    left: 50%;

    margin-right: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 1441px) {
      width: 250px;
    }

    @media screen and (max-width: 1440px) {
      width: calc(100vw / 1440 * 250);
    }
  }
}