.order {
  @media screen and (min-width: 1441px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @media screen and (max-width: 1440px) and (min-width: 1301px) { 
    padding-top: 47px;
    padding-bottom: 47px;
  } 
  @media screen and (max-width: 1400px) and (min-width: 1301px) {
    padding-top: 46px;
    padding-bottom: 46px;
  }
  @media screen and (max-width: 1300px) and (min-width: 1201px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  @media screen and (max-width: 1200px) and (min-width: 1101px) {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  @media screen and (max-width: 1100px) and (min-width: 1025px) {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  @media screen and (max-width: 1024px) and (min-width: 901px) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  @media screen and (max-width: 900px) and (min-width: 801px) {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  @media screen and (max-width: 800px) and (min-width: 701px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 700px) {
    padding-top: 39px;
    padding-bottom: 39px;
  } 
  @media screen and (max-width: 600px) and (min-width: 551px) {
    padding-top: 38px;
    padding-bottom: 38px;
  }
  @media screen and (max-width: 550px) and (min-width: 481px) {
    padding-top: 37px;
    padding-bottom: 37px;
  }
  @media screen and (max-width: 480px) and (min-width: 411px) {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  @media screen and (max-width: 410px) and (min-width: 356px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  @media screen and (max-width: 355px) {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  &__cooldown {
    margin-top: 24px;

    font-family: 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: #000;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    transition: .3s ease-in-out;
  
    @media screen and (min-width: 1441px) {
      padding-right: 32px;
      padding-left: 32px;
  
      font-size: 32px;
    }
  
    @media screen and (max-width: 1440px) {
      padding-right: calc(100vw / 1440 * 32);
      padding-left: calc(100vw / 1440 * 32);
    }
  
    @media screen and (max-width: 1440px) and (min-width: 1301px) {
      font-size: 31px;
    }
  
    @media screen and (max-width: 1300px) and (min-width: 1201px) {
      font-size: 30px;
    }
  
    @media screen and (max-width: 1200px) and (min-width: 1101px) {
      font-size: 29px;
    }
  
    @media screen and (max-width: 1100px) and (min-width: 1025px) {
      font-size: 28px;
    }
  
    @media screen and (max-width: 1024px) and (min-width: 901px) {
      font-size: 27px;
    }
  
    @media screen and (max-width: 900px) and (min-width: 801px) {
      font-size: 26px;
    }
  
    @media screen and (max-width: 800px) and (min-width: 701px) {
      font-size: 25px;
    }
  
    @media screen and (max-width: 700px) and (min-width: 601px) {
      font-size: 24px;
    }
  
    @media screen and (max-width: 600px) and (min-width: 551px) {
      font-size: 23px;
    }
  
    @media screen and (max-width: 550px) and (min-width: 481px) {
      font-size: 22px;
    }
  
    @media screen and (max-width: 480px) and (min-width: 411px) {
      font-size: 21px;
    }
  
    @media screen and (max-width: 410px) and (min-width: 356px) {
      font-size: 20px;
    }
  
    @media screen and (max-width: 355px) {
      font-size: 19px;
    }

    &.show {
      pointer-events: visible;
      opacity: 1;
      visibility: visible;
    }

    p {
      display: inline;

      color: red;
    }
  }

  &__inner {
    display: flex;

    @media screen and (min-width: 1441px) {
      margin-top: 48px;
    }

    @media screen and (max-width: 1440px) and (min-width: 1301px) {
      margin-top: 47px;
    }

    @media screen and (max-width: 1400px) and (min-width: 1301px) {
      margin-top: 46px;
    }

    @media screen and (max-width: 1300px) and (min-width: 1201px) {
      margin-top: 45px;
    }

    @media screen and (max-width: 1200px) and (min-width: 1101px) {
      margin-top: 44px;
    }

    @media screen and (max-width: 1100px) and (min-width: 1025px) {
      margin-top: 43px;
    }

    @media screen and (max-width: 1024px) and (min-width: 901px) {
      margin-top: 42px;
    }

    @media screen and (max-width: 900px) and (min-width: 801px) {
      margin-top: 41px;
    }

    @media screen and (min-width: 800px) {
      align-items: flex-start;
      justify-content: space-between;
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 800px) and (min-width: 701px) {
      margin-top: 40px;
    }

    @media screen and (max-width: 700px) and (min-width: 601px) {
      margin-top: 39px;
    }

    @media screen and (max-width: 600px) and (min-width: 551px) {
      margin-top: 38px;
    }

    @media screen and (max-width: 550px) and (min-width: 481px) {
      margin-top: 37px;
    }

    @media screen and (max-width: 480px) and (min-width: 411px) {
      margin-top: 36px;
    }

    @media screen and (max-width: 410px) and (min-width: 356px) {
      margin-top: 35px;
    }

    @media screen and (max-width: 355px) {
      margin-top: 34px;
    }

    > * {
      width: 50%;
      max-width: 50%;

      @media screen and (max-width: 800px) {
        width: 75%;
        max-width: 75%;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      width: 175px;

      @media screen and (max-width: 800px) {
        width: calc(100vw / 800 * 175);
      }
    }

    > p {
      margin-top: 16px;

      max-width: 350px;

      font-family: Arial, sans-serif;
      font-size: 18px; 
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      color: #000;

      span {
        font-weight: 700;

        color: #5d8eaa;
      }
    }
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    > * {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-right: 12px;
      margin-left: 12px;

      span {
        color: inherit;
        font-size: 12px;
        font-weight: 400;
        line-height: inherit;
        text-align: center;
        opacity: .5;
      }
    }

    &_old {
      color: #000;
      font-size: 25px;
      font-weight: 400;

      small {
        position: relative; 

        &::after {
          position: absolute;

          top: 50%;
          left: 50%;

          width: 100%;
          height: 4px;

          margin-right: -50%;

          background: #cf2839;

          border-radius: 4px;

          transform: translate(-50%, -50%) rotate(-12.5deg);
          content: '';
        }
      }
    }
    &_new {
      color: #cf2839;
      font-size: 35px;
      font-weight: 700;

      animation: new_price 1.5s ease-in-out infinite;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 800px) and (min-width: 701px) {
      margin-top: 40px;
    }

    @media screen and (max-width: 700px) and (min-width: 601px) {
      margin-top: 39px;
    }

    @media screen and (max-width: 600px) and (min-width: 551px) {
      margin-top: 38px;
    }

    @media screen and (max-width: 550px) and (min-width: 481px) {
      margin-top: 37px;
    }

    @media screen and (max-width: 480px) and (min-width: 411px) {
      margin-top: 36px;
    }

    @media screen and (max-width: 410px) and (min-width: 356px) {
      margin-top: 35px;
    }

    @media screen and (max-width: 355px) {
      margin-top: 34px;
    }
  }
  &__form {
    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 400px;
    max-width: 100%;

    border-radius: 24px;

    box-shadow: 0 4px 50px rgb(0 0 0 / 15%);

    background: #fff;

    > p {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      color: rgb(0 0 0 / 75%);
      text-transform: uppercase;

      margin-bottom: 8px;
    }

    &_inp {
      position: relative;

      width: 100%;

      margin-top: 16px;

      > span {
        position: absolute;

        bottom: 100%;
        left: 0;

        padding: 16px;

        font-size: 12px;
        font-weight: 700;
        color: #fff;

        background: rgb(0 0 0 / 75%);

        small {
          font-weight: 400;
        }

        pointer-events: none;
        opacity: 0;
        visibility: hidden;

        transition: .3s ease-in-out;
      
        &.show {
          pointer-events: visible;
          opacity: 1;
          visibility: visible;
        }
      }

      > input {
        width: 100%;
        height: 55px;
  
        border: 1px solid #bdbdbd;
  
        border-radius: 10px;
  
        background: #fff;
  
        padding-left: 20px;
        padding-right: 20px;
  
        font-size: 16px;
        font-weight: 400;
  
        color: #000;
  
        &::placeholder {
          opacity: 1;
  
          transition: .3s ease-in-out;
        }
        &:focus {
          &::placeholder { 
            opacity: 0;
          }
        }
      }
    }
    > button {
      width: 75%;
      height: 55px;

      margin-top: 16px;
      
      border-radius: 100px;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;

      background: #cf2839;
    }
  }
}

@keyframes new_price {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}